

{% load static %}

{% block title %}
Aplus
{% endblock %}

{% block content %}

  <form action="" method="post">
      {% csrf_token %}
  <section id="cover">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <!-- <div class="carousel-inner" role="listbox"> -->
          <section class="carousel-item active">
              <div class="card">
                  <div class="card-block">

                      <h3 class="card-title">로그인</h3>
                      <div>
                      {{ form.as_p }}

                      <input type="checkbox" class="form-check-input">
                      <span class="login_checkbox">로그인 상태 유지하기</span>
                  </div>

                  <input type="submit">
              </div>
          </section>
      </div>

  </section>
  </form>

{% endblock %}