{% extends "qnas/layout.html" %}

{% load static %}

{% block title %}
    APlus
{% endblock %}

{% block menu %}

    <!-- Search -->
    <section class="search">
        <form>
            <div class="input-group">
                <input type="text" class="form-control border-left-0 border-radius-0" placeholder="학과 검색"
                       aria-describedby="btnGroupAddon">
                <span class="input-group-addon border-right-0 border-radius-0" id="btnGroupAddon">
		  		<a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
		  	</span>
            </div>
        </form>

        {% for major in majors %}
            {% if major.name == major_name %}
                <a href="/qnas/{{ major.e_name }}"><span class="name">{{ major.name }}</span></a>
            {% else %}
                <a href="/qnas/{{ major.e_name }}"><span class="name">{{ major.name }}</span></a>
            {% endif %}
        {% endfor %}
    </section>

    <section class="search">
        <form>
            <div class="input-group">
                <input type="text" class="form-control border-left-0 border-radius-0" placeholder="과목 검색"
                       aria-describedby="btnGroupAddon">
                <span class="input-group-addon border-right-0 border-radius-0" id="btnGroupAddon">
		  		<a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
		  	</span>
            </div>
        </form>

        {% if major_name != "" %}
            {% for course in courses %}
                {% if course.name == course_name %}
                    <a href="/qnas/{{ major_name }}/{{ course.e_name }}"><span class="name">{{ course.name }}</span></a>
                {% else %}
                    <a href="/qnas/{{ major_name }}/{{ course.e_name }}"><span class="name">{{ course.name }}</span></a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}

{% block content %}
    <section class="search2">
        <div class="row">
            <div class="input-group col-lg-10">
                <input type="text" class="form-control border-radius-0" placeholder="질문 검색"
                       aria-describedby="btnGroupAddon">
                <span class="input-group-addon border-radius-0" id="btnGroupAddon">
		  		<a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
		  	</span>
            </div>
            <div class="input-group-btn col-lg-2">
                {% if course_name != '' %}
                    <button class="btn btn-secondary border-radius-0" type="button" data-toggle="modal"
                            data-target="#myModal">
                {% else %}
                    <button class="btn btn-secondary border-radius-0" type="button" data-toggle="modal"
                            data-target="#myModal"
                            onclick="selectMajor()">
                {% endif %}
                <i class="fa fa-pencil" aria-hidden="true"> 글 작성</i>
                </button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            게시물 작성
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form action="{% url "qnas:create" %}" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            {% csrf_token %}
                            <div>
                                <input name="title" class="form-control border-radius-0">
                            </div>
                            <div class="margin-top-10">
                                <textarea class="form-control border-radius-0" id="content" name="content"
                                          placeholder="글을 작성해주세요!"></textarea>
                            </div>
                            <div class="container row margin-top-10">
                                <select class="form-control border-radius-0 col-md-3" id="majorselect" name="major"
                                        onchange="selectMajor();">
                                    {% for major in majors %}
                                        {% if major_name == major.e_name %}
                                            <option value="{{ major.id }}" selected>{{ major.name }}</option>
                                        {% else %}
                                            <option value="{{ major.id }}">{{ major.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>

                                <select class="form-control border-radius-0 col-md-3" id="courseselect" name="course"
                                        style="margin-left: 10px">
                                    {% for course in courses %}
                                        {% if course_name == course.e_name %}
                                            <option value="{{ course.id }}" selected>{{ course.name }}</option>
                                        {% else %}
                                            <option value="{{ course.id }}">{{ course.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>

                                <!-- <div class="form-group">
                                  <input type="file" name="image" accept="image/*">
                                </div> -->
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-start" style="height: 60px;width: 100%;">
                            <a href="#" onclick="addHash()" style="margin-left: 10px"><img
                                    src="/static/qnas/hashtag.png" alt="hashtag" style="width:15px"
                                    class="modal_hashtag"></a>
                            <a href="#"><img src="/static/qnas/paperclip.png" alt="paperclip" style="width:15px"
                                             class="modal_paperclip"></a>
                            <div class="ml-auto p-2">
                                <button type="submit" class="btn btn-warning border-radius-0">게시</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            (function () {
                $('#myModal').modal('show');
            })();
        </script>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="recent-tab" data-toggle="tab" href="#recent" role="tab"
                   aria-controls="home"
                   aria-expanded="true">최신</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="popular-tab" data-toggle="tab" href="#popular" role="tab"
                   aria-controls="profile">인기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="needanswer-tab" data-toggle="tab" href="#needanswer" role="tab"
                   aria-controls="profile">답변필요</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tag-tab" data-toggle="tab" href="#tag" role="tab"
                   aria-controls="profile">태그선택</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="home-tab">
                <br>
                {% for post in posts %}
                    <div class="row">
                        <div class="col-md-1 text-center">{{ post.comment_set.count }}<br>조회</div>
                        <div class="col-md-1 text-center">{{ post.comment_set.count }}<br>좋아요</div>
                        <div class="col-md-1 text-center">{{ post.comment_set.count }}<br>답변</div>
                        <div class="col-md-9">
                            <h4><a href="/qnas/read/{{ post.id }}">{{ post.title }}</a></h4>
                            <div class="pull-right">
                                <span>{{ post.user }} / {{ post.created_at }}</span></div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="popular" role="tabpanel">
                <br>
                {% for post in  pop_posts %}
                    <div class="row">
                        <div class="col-md-1 text-center">{{ post.comment_set.count }}<br>조회</div>
                        <div class="col-md-1 text-center">{{ post.comment_set.count }}<br>좋아요</div>
                        <div class="col-md-1 text-center">{{ post.comment_set.count }}<br>답변</div>
                        <div class="col-md-9">
                            <h4><a href="/qnas/read/{{ post.id }}">{{ post.title }}</a></h4>
                            <div class="pull-right">
                                <span>{{ post.user }} / {{ post.created_at }}</span></div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="needanswer" role="tabpanel">
                <br>
                {% for post in posts %}
                    {% if post.comment_set.count == 0 %}
                        <div class="row">
                            <div class="col-md-1 text-center">{{ post.comment_set.count }}<br>조회</div>
                            <div class="col-md-1 text-center">{{ post.comment_set.count }}<br>좋아요</div>
                            <div class="col-md-1 text-center">{{ post.comment_set.count }}<br>답변</div>
                            <div class="col-md-9">
                                <h4><a href="/qnas/read/{{ post.id }}">{{ post.title }}</a></h4>
                                <div class="pull-right">
                                    <span>{{ post.user }} / {{ post.created_at }}</span></div>
                            </div>
                        </div>
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="tag" role="tabpanel">태그선택</div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>

    <script>
        function selectMajor() {
            var major_name = $("#majorselect :selected").text();
            var url = "/qnas/read_courses/" + major_name + "/";
            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                success: function (data) {
                    $("#courseselect").empty();
                    $(data.courses).each(function (i, e) {
                        var item = '<option value="' + e.id + '">' + e.name + '</option>';
                        $("#courseselect").append(item);
                    });
                }
            });
        }

        function addHash() {
            document.getElementById("content").value += '#';
        }
    </script>
{% endblock %}
